# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore .env files (for sensitive information)
.env

# Ignore build directories
build/

# Ignore IDE-specific files (VS Code, for example)
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
